{
  "root": true,
  "plugins": [
    "import",
    "jest"
  ],
  "extends": [
    "plugin:@silenzio/typescript",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "prefer-template": "error"
  }
}